<div class="main-container">
  <h1>Most active hikers</h1>
  <div class="row-centered">
    <div class="display-box-highlight">
      <p>Most bagged munros: <%=@most_active.full_name%> with a record <%=@most_active.unique_hikes_no%> bagged munros!</p>
    </div>
    <div class="display-box-highlight">
      <p>Most individual hikes: <%=@most_indiv_hikes.full_name%> with an impressive <%=@most_indiv_hikes.all_hikes.length%> hikes!</p>
    </div>
  </div>
  <h1>All intrepid hikers:</h1>
  <div class="row">
    <% for hiker in @hikers %>
      <div class="display-box">
        <p><a href="hikers/<%= hiker.id %>"><%= hiker.full_name() %></a></p>

        <p><%if hiker.unique_hikes_no == 1 %>
          <%= "#{hiker.unique_hikes_no} munro"%>
          <% else %>
          <%= "#{hiker.unique_hikes_no} munros"%>
          <% end %> bagged to date.</p>
        </div>
      <% end %>
    </div>
  </div>
