<h2>More about this hiker:</h2>

<p>Name: <%= @hiker.first_name + " " + @hiker.last_name %></p>

<%if @hiker.date_of_birth%>
<p>Age: <%= @hiker.age%></p>
<%end%>

<%unless @unique_hikes_no < 1 %>
  <p>Last seen on the slopes of <%=@hiker.latest_hike()[0]['name']%> on <%=@hiker.latest_hike[0]['date']%>.</p>
<%end%>

<% if @hiker.munro_goal != nil && @hiker.munro_goal > @hiker.unique_hikes_no%>
    <p>Current goal: Wants to bag <%= @hiker.munro_goal %> munros (<%=@hiker.munro_goal - @unique_hikes_no %> to go).</p>
<%end%>

<form action="/hikers/<%= @hiker.id %>/delete" method="post">
  <input type='submit' value="Delete (this will delete the user and all their hikes!)">
</form>

<a href="/hikers/<%= @hiker.id%>/edit">Edit</a>

<h2>Munros climbed (<%=@unique_hikes_no%> in total):</h1>
  <table>
    <th>Name</th>
    <th>Last climbed</th>
    <% for hike in @unique_hikes %>
    <tr>
      <td><a href="/munros/<%=hike['munro_id']%>"><%=hike['name']%></a></td>
      <td> <%=hike['date']%> </td>
    </tr>
    <% end %>
  </table>

  <%unless @unique_hikes_no < 1%>
  <h2>Highest munro bagged:</h2>
  <div>
    <p><%=@hiker.highest_munro.name if @hiker%></p>
    <p><%=@hiker.highest_munro.altitude%>m</p>
    </div>
  <%end%>

  <%unless @unique_hikes_no < 1%>
    <h2>All of <%=@hiker.first_name%>'s hikes:</h2>
    <table>
      <th>Name</th>
      <th>Date</th>
        <%for hike in @hiker.all_hikes%>
        <tr>
          <td><a href ="/munros/<%=Munro.find_by_id(hike.munro_id).id%>"><%=Munro.find_by_id(hike.munro_id).name%></a></td>
          <td><%=hike.date%></p></td>
        </tr>
    <%end%>
    </table>
  <%end%>
