<h1>Edit hike</h1>
<form method="post" action="/hikes/<%=@hike.id%>">
  <label for="hiker-id">Hiker:</label>
  <select id="hiker-id" name="hiker_id">
    <% for hiker in @hikers %>
    <option value="<%=hiker.id%>" <%= "selected" if (hiker.id.to_i == @hike.hiker_id.to_i) %>><%=hiker.full_name%></option>
    <% end %>
  </select>

  <label for="munro-id">Munro:</label>
  <select id="munro-id" name="munro_id">
    <% for munro in @munros %>
    <option value="<%=munro.id%>" <%= "selected" if (munro.id.to_i == @hike.munro_id.to_i) %>><%=munro.name%></option>
    <% end %>
  </select>

  <label for="date">Date:</label>
  <input id ="date" type="date" name="date" value="<%= Date.parse(@hike.date)%>"/>


  <input type="submit" value="Update"/>

</form>
