<h2>More about this munro:</h2>

<p>Name: <%= @munro.name %></p>
<p>Region: <%= @munro.region %></p>
<p>Altitude: <%= @munro.altitude %>m</p>
<form action="/munros/<%= @munro.id %>/delete" method="post">
  <input type='submit' value="Delete (this will delete the munro and all linked hikes!)">
</form>
<a href="/munros/<%= @munro.id%>/edit">Edit</a>
<h3>Bagged by:</h3>

<% for hiker in @successful_hikers %>
  <p><%=hiker.full_name%></p>


<% end %>
