<div class="centered-display">
  <div class="munro-display">
    <h1>More about this munro:</h1>
    <div class="munro-content">
      <div class="munro-column">
        <% if @munro.id == Munro.most_popular.id%>
        <img src="/images/trophy-m.png" alt="munro icon">
        <p>Bagged by most hikers</p>
        <%elsif @munro.id == Munro.most_indiv_visits.id%>
        <img src="/images/trophy-m.png" alt="munro icon">
        <p>Most visited munro</p>
        <%else%>
        <img src="/images/munro.png" alt="munro icon">
        <%end%>
        <button class="editbtn"><a href="/munros/<%= @munro.id%>/edit">Edit</a></button>

        <form action="/munros/<%= @munro.id %>/delete" method="post">
          <button type='submit'>Delete</button>
        </form>
      </div>

      <div class="munro-column">
        <h3>Name: <%= @munro.name %></h3>
        <h3>Region: <%= @munro.region %></h3>
        <h3>Altitude: <%= @munro.altitude %>m</h3>
      </div>

      <div class="munro-column">
        <h3>Bagged by:</h3>

        <ul>
          <% for hiker in @successful_hikers %>
          <li><%=hiker.full_name%></li>
          <% end %>
        </ul>



      </div>
    </div>
  </div>
</div>
